form{
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: 0 auto;
}
input{
    padding: 10px;
    margin-bottom: 10px;
}
button{
    padding: 10px;
    margin-bottom: 10px;
}

h2{
    margin-left:8vw;
}